/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;


}

.jumbotron {
  padding-bottom: 20px;
  padding-top: 140px;
  text-align: center;  

/* Antigo
    background: rgb(255,218,46); 
    background: -moz-linear-gradient(left,  rgba(255,218,46,1) 0%, rgba(44,214,100,0.5) 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,218,46,0.5)) color-stop(100%,rgba(44,214,100,1))); /* Chrome,Safari4+ 
    background: -webkit-linear-gradient(left,  rgba(255,218,46,1) 0%,rgba(44,214,100,0.5) 100%); /* Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(left,  rgba(255,218,46,1) 0%,rgba(44,214,100,0.5) 100%); /* Opera 11.10+ 
    background: -ms-linear-gradient(left,  rgba(255,218,46,1) 0%,rgba(44,214,100,0.5) 100%); /* IE10+ 
    background: linear-gradient(to right,  rgba(255,218,46,1) 0%,rgba(44,214,100,0.5) 100%); /* W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda2e', endColorstr='#2cd664',GradientType=1 ); /* IE6-9 
*/
    
    background: -webkit-linear-gradient(left, rgba(255,218,46,0.7) 0%,rgba(44,215,100,0.7) 90%),
url(img/BG_Jumbotron3.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    
    
    color: white;
    
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.header {

    padding-left: 15%;
    padding-right: 15%;
    
}

/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #444;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .fa {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
}

.back-to-top:hover {
  background-color: #fc4f3f;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}